body {
  font-family: "Open Sans";
  font-weight: 400;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

menu {
  background-image: url(../Assets/images/coffee-circle.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 43.75rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

h1 {
  font-size: 3.75rem;
  font-weight: 300;
  color: white;
  text-align: center;
}

.title-box {
  border: 5px solid #5bacc3;
  width: 18.75rem;
  height: 12.5rem;
  margin-top: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title-box__background {
  width: 18.75rem;
  height: 12.5rem;
  background-color: #393939;
  position: absolute;
  top: 22.563rem;
  left: 31.563rem;
}

/*
.title-box::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 5px solid #5bacc3;
  box-sizing: border-box;
}

.title-box__border {
  position: absolute;
  border: 5px solid #5bacc3;
  width: 18.75rem;
  height: 12.5rem;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}
*/

h2 {
  font-size: 3.75rem;
  font-weight: 300;
  color: #393939;
  margin: 0;
}

h3 {
  font-size: 2.063rem;
  font-weight: 300;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

section.items {
  color: white;
  background-color: #393939;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 0;
}

section li.items {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 2px solid #5bacc3;
  letter-spacing: 0.05rem;
}

.hot-drinks,
.pastries {
  background-color: #fff0ed;
  color: #393939;
  width: 100%;
  text-align: center;
  margin-top: auto;
  margin: 0;
}

.price {
  color: #5bacc3;
  margin-top: 0.25rem;
}

.center-block {
  font-style: italic;
  width: 27.25rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.cold-drinks {
  background-color: #f7f7f7;
  color: #393939;
  width: 100%;
  text-align: center;
  margin: 0;
}

section {
  padding: 1.25rem;
  margin: 1.25rem;
}

section.items {
  padding: 0;
}

article ul li {
  padding: 0;
}

.items__hot-drinks,
.items__cold-drinks,
.items__pastries {
  color: #fff;
  text-decoration: none;
}
