@use "/css/partials/variables" as *;

@mixin item-nav {
  color: #fff;
  text-decoration: none;
}

@mixin menu-style1 {
  background-color: #fff0ed;
  color: #393939;
  width: 100%;
  text-align: center;
  margin-top: auto;
  margin: 0;
}

@mixin menu-style2 {
  background-color: #f7f7f7;
  color: #393939;
  width: 100%;
  text-align: center;
  margin: 0;
}

@mixin text-description {
  font-style: italic;
  width: 27.25rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

@mixin button {
  background-color: #5bacc3;
  color: white;
  border: none;
  width: 11.25rem;
  padding: 1rem;
  font-size: 1.313rem;
  position: relative;
}

@mixin product-title {
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  margin: 0;
  padding: 5rem;
}

@mixin product-description {
  width: 20.625rem;
  height: 27.5rem;
  display: inline-block;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

@mixin product-price {
  color: #5bacc3;
  font-size: xx-large;
  font-weight: bold;
  margin: 0 auto;
}

@mixin product-img {
  padding-top: 2rem;
  padding-bottom: 1.95rem;
}

@mixin view-all-button {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@mixin story-img {
  position: absolute;
  border: 5px solid #5bacc3;
  padding: 3.75rem 7.5rem;
  bottom: 1.25rem;
  right: 1.25rem;
}
